#c {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}

*[data-diagram] {
  display: inline-block;
  width: 50em;
  height: 30em;
  border: 1px solid black;
  position: relative;
}
.left {
  float: left;
  margin-right: .25em;
  /* width: inherit; */
  position: relative;
  /* top: 0; */
}
.right {
  float: right;
  margin-left: .25em;
}
